/* .container h2{
    font-style: italic;
}
h2 + p {
    color: red;
}
.list > li {
    border-bottom: 1px solid grey;
    list-style-type: none;
} */
li a:link{
    color: green;
}
li a:visited{
    color: red;
}
li a:hover {
    color: pink;
}
li::first-letter{
    font: bold 120%;
}
a[title="BCIT homepage"]{
    background-color: yellow;
}
