h2 {
  color: #800080

}
.first {
  font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #f5f5dc;
}
.headerfooter {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 40px;
  grid-template-rows: 1fr 1fr;
}
ul {
  list-style: none;
}
.heading2 {
  color: black;
}
.firstp-grid{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
}
.image1{
  display: flex;
  justify-content: center;
}
.div1 {
  display: flex;
  justify-content: center;
}